
<title>RSSI - API definition</title>

<h1>Swagger Documentation</h1>

<!-- Embed Swagger UI inside an iframe -->
<iframe src="@ViewBag.Baseurl/swagger/index.html" style="width: 100%; height: 600px;"></iframe>

<footer>
    <p>Copyright © 2023 - <a href="@ViewBag.Baseurl/home">Team SolarSentinel</a></p>
</footer>

<style>
    * {
        font-family: 'JetBrains Mono'
    }
</style>

<!-- Link to Swagger UI CSS (you may need to adjust the path) -->
<link rel="stylesheet" type="text/css" href="http://your-api-domain/swagger/swagger-ui.css">